<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Blog</title>
  </head>
  <body>
    <h1>Daftar Blog</h1>
    <a href="/todo/create/">Buat Post Baru</a>
    <hr />

    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <a href="/todo/read/{{ post.id }}/">{{ post.title }}</a> -
        {{post.content }}
        <a href="{% url 'update' post.id %}">=> Edit </a>
        <a
          href="{% url 'delete' post.id %}"
          onclick="return confirm('yakin mau hapus?')"
          >hapus?</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts found.</p>
    {% endif %}
  </body>
</html>
